.App {
  text-align: center;
}

.App-header {
  background-color: rgb(77,38,0);
  padding: 1em;
  color: white;
  margin-bottom: 1em;
}

.App-title {
  font-size: 1.5em;
}
.display {
 display: flex;
}
